@use 'src/scss/vars' as *;
@use 'src/scss/mixin' as *;

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 16px;
  background-color: white;
}

.sticky-header-table {
  position: sticky;
}